[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/MainManTV/GameEngineUtilities.git
[submodule "dependencies/EnTT"]
	path = dependencies/EnTT
	url = https://github.com/skypjack/entt.git
[submodule "dependencies/stb_image"]
	path = dependencies/stb_image
	url = https://github.com/nothings/stb.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "dependencies/bullet"]
	path = dependencies/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "dependencies/OpenAL"]
	path = dependencies/OpenAL
	url = https://github.com/kcat/openal-soft.git
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "dependencies/FreeType"]
	path = .dependencies/FreeType
	url = https://gitlab.freedesktop.org/freetype/freetype.git
