/.vs/
/.vscode/
/CMakeSettings.json
/out/
/build/
/Profile_Result.json
/Profile_Result1.json
/CMakeCache.txt
/temp/*
/docs/html
/dependencies/glew/glew.pc
/assets/main_sponza
/cmake-build-debug
/CMakeFiles
/.idea/
/assets/Sponza*
/assets/ImportedSponza/**
/assets/ImportedSponza.scene