[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/MainManTV/GameEngineUtilities.git
[submodule "dependencies/EnTT"]
	path = dependencies/EnTT
	url = https://github.com/skypjack/entt.git
[submodule "dependencies/stb_image"]
	path = dependencies/stb_image
	url = https://github.com/nothings/stb.git
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "dependencies/FreeType"]
	path = dependencies/FreeType
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "docs/theme"]
	path = docs/theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "platform/Vulkan/dependencies/headers"]
	path = platform/Vulkan/dependencies/headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "platform/Vulkan/dependencies/loader"]
	path = platform/Vulkan/dependencies/loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "platform/Vulkan/dependencies/vma"]
	path = platform/Vulkan/dependencies/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "platform/Vulkan/dependencies/bootstrap"]
	path = platform/Vulkan/dependencies/bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "dependencies/shaderc"]
	path = dependencies/shaderc
	url = https://github.com/google/shaderc.git
[submodule "platform/Vulkan/dependencies/spirv-tools"]
	path = platform/Vulkan/dependencies/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "platform/Vulkan/dependencies/spirv-headers"]
	path = platform/Vulkan/dependencies/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "platform/Vulkan/dependencies/glslang"]
	path = platform/Vulkan/dependencies/glslang
	url = https://github.com/KhronosGroup/glslang.git
