[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Utilities"]
	path = Utilities
	url = https://github.com/MainManTV/GameEngineUtilities.git
[submodule "dependencies/EnTT"]
	path = dependencies/EnTT
	url = https://github.com/skypjack/entt.git
[submodule "dependencies/stb_image"]
	path = dependencies/stb_image
	url = https://github.com/nothings/stb.git
